body{
    background-color: rgba(240, 238, 252, 0.955);
}

/*****Navegador*****/

.navegador{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 5px solid rgb(252, 249, 249);
    margin: 10px;
    padding: 3px;
}

.navegador-izquierda,
.navegador-derecha{
    /*border: 5px solid green;*/
}

.navegador-centro{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 5px solid red;*/
}

.navegador-centro div{
    margin: 1.5vw;
    /*border: 3px solid orange;*/
}

/*****Contenido 1******/
.contenido-1{
    padding: 2vw;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
}


/******Contenido 2******/

.contenido-2{
    border: 5px solid rgb(206, 8, 8);
    margin: 10px;
    background-color: rgb(250, 253, 247);
    color: rgb(95, 55, 255);
}

.contenido-2 > *{
    display: flex;
    justify-content: space-around;
    margin: 0.75vw;
    background-color: rgba(34, 0, 255, 0.997);
    color: rgba(2, 3, 0, 0.874);
    /*border: 5px solid yellow;*/
}

.contenido-2 > * > *{
    padding: 5px;
    background-color: rgba(11, 27, 204, 0.838);
    color: rgb(0, 0, 0);
    /*border: 5px solid purple;*/
}

.contenido-2 > * > * > *{
    /*border: 5px solid blue;*/
}

/***** Contenido 3 *****/
.contenido-3{
    padding: 1.5vw;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
}

.contenido-4{
    padding: 1.5vw;
    border: 5px solid black;
    margin: 10px;
    text-align: center;
}

/***** Todos Contendios*****/
.contenido-1 > *,
.contenido-3 > *,
.contenido-4 > *{
    /*border: 5px solid brown;*/
}
